doctype html
html.no-js
  head
    meta charset="utf-8"
    meta content="ie=edge" http-equiv="x-ua-compatible"
    title SERVBO | サーボ | ストアピックアップシステム
    meta content="ストアピックアップシステムSERVBOなど" name="description"
    meta content="width=device-width, initial-scale=1" name="viewport"
    meta property="og:url" content="http://servbo.jp/"
    meta property="og:type" content="website"
    meta property="og:title" content="SERVBO（サーボ）"
    meta property="og:image" content="og-image.png"
    meta property="og:description" content="ストアピックアップシステムSERVBO（サーボ）"
    meta property="og:site_name" content="SERVBO（サーボ）"
    meta property="og:locale" content="ja_JP"

    meta name="twitter:card" content="summary"
    meta name="twitter:description" content="ストアピックアップシステムSERVBO（サーボ）など"
    meta name="twitter:title" content="SERVBO（サーボ）"

    meta name="theme-color" content="#ED4C38"

    link rel="canonical" href="http://servbo.jp/"
    link rel="author" href="humans.txt"
    link href="favicon.ico" rel="shortcut icon"
    link href="apple-touch-icon.png" rel="apple-touch-icon"
    link href="css/all.css" rel="stylesheet"
    script src="js/vendor/modernizr-custom.js"
  body
    /![if lt IE 8]
      | <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      footer#contact
    /header
      .container.u-flex.u-justifyContentSpaceBetween
        a.u-flex.u-flexCenter[href="#"]
          svg.logo.contrast role="logo"
            use xlink:href="img/svg/svg.svg#logo_text"
        nav.nav-primary
          a.hamburger.u-sm-block[href="#"]
            svg role="icon"
              use xlink:href="img/svg/svg.svg#icon_hamburger"
          ul.u-flex.u-flexCenter.u-sm-hide
            li
              a.u-textContrast[href="https://servbo.jp" target="_blank"] オーダー用アプリ
            li
              a.u-textContrast[href="https://form.run/@u-bo" target="_blank"] お問い合わせ

    section.hero
      .hero-bg
      .hero-content
        .hero-content-inner
          h1.u-textTheme.u-fontWeightBold
            span.line1
              span 時代に合った
              span 進化する
            span.line2
              span 食
              span 体験を
          .hero-contact
            a.u-button1.u-buttonTheme[href="https://github.com/" target="_blank"]
              span お問い合わせ
      .hero-logo
        h1
          svg role="logo"
            use xlink:href="img/svg/svg.svg#logo"
      a.hero-egg[href="https://github.com/" target="_blank"]
        span.text-en JACK & TONY


    section.content
      .content-title
        .content-title-inner
          .content-title-img
            svg role="image"
              use xlink:href="img/svg/svg.svg#serving"
          h3
            .text-en.u-textTheme Why, What and How
            .u-fontWeightBold.u-textMuted なにをなぜ、どう解決するのか？
          .content-title-text
            | ストアピックアップ(テイクアウト)は今後より様々な業態で利用者が増えることが予想されます。
            br
            | ストアピックアップシステムSERBOは、ユーザーの商品購入&受取時間を短縮し、
            br
            | また店舗にとって売上の増加や労働力の軽減を実現します。

      .content-grid
        .u-flex.u-flexCenter.u-flexWrap
          .grid-half.grid-1
            .grid-index WHY .1
            p
              | ある日ドライブスルーにいった。
              br
              | 日曜日で混雑。後ろに車もつまっていたのでゆっくりとメニューを見ることもできない。
            p
              | マイクに大声で注文したあと、カードで支払い。と思ったら現金のみとのこと。。
              br
              | お店のスタッフも忙しくて余裕がないようだ。
            p
              | 車を走らせ、気を取り直してまずはコーヒー。。。
            p
              | なぜだろう、これはコーラだよな。。

          .grid-q.grid-2
            .grid-index HOW .1
            ol
              li
                span 01
                | スマートフォンで注文
              li
                span 02
                | 事前にモバイル決済
              li
                span 03
                | 店舗でBOXから受け取れる
          .grid-q.grid-3
            .grid-index WHAT .1
            h4
              | 人出のかからない
              br
              | 店舗作りを
          .grid-q.grid-4
            .grid-index WHAT .2
            h4
              | キャッシュレスな
              br
              | モバイル注文・決済
          .grid-q.grid-5
            .grid-index WHAT .3
            h4
              | 接客の自動化を
              br
              | 可能にする
              br
              | サービングボックス
          .grid-half.grid-6
            .grid-index HOW .2
            .u-flex.u-justifyContentCenter
              .mobile-app
                .box
                  .jp オーダー用アプリ
                  svg role="icon"
                    use xlink:href="img/svg/svg.svg#sp_check"
                  .en ORDER APP
                ul
                  li モバイルオーダー
                  li
                    | モバイルペイメント
                    br
                    | （クレジット・Amazon Pay）
              .arrow
                svg role="icon"
                  use xlink:href="img/svg/svg.svg#arrow_both_h"
              .serving-box
                .box
                  .jp 受け取り用ボックス
                  svg role="icon"
                    use xlink:href="img/svg/svg.svg#cube"
                  .en SERVING BOX
                ul
                  li 自動受け渡し（開閉機能）
                  li タッチパネル
                  li 各種認証機能

          .grid-q.grid-7
            .grid-index HOW .3
            .logo
              svg role="logo"
                use xlink:href="img/svg/svg.svg#logo"
              .u-textAlignCenter
                a.u-button2.u-button2Contrast[href="#"]
                  | オーダーWebアプリへ
          .grid-half.grid-8
            .grid-index HOW .4
            p.u-textAlignCenter.u-textContrast SERVBO実装店舗
            .logo.u-marginBottom20
              svg role="logo"
                use xlink:href="img/svg/svg.svg#logo_beeat"
            .u-flex.u-justifyContentCenter
              a.u-button2.u-button2Contrast.u-marginHorizontal10[href="#"]
                | beeatサイトへ
              a.u-button2.u-button2Contrast.u-marginHorizontal10[href="#"]
                | #寿司ブリ

    footer
      .footer-hero
        .typo
          div EVOLVING FOOD
          div EXPERIENCE
        .footer-hero-content
          .logo
            svg role="logo"
              use xlink:href="img/svg/svg.svg#logo"
          .tagline テクノロジーの力で食体験を進化させます。
          .u-flex.u-justifyContentCenter
            a.u-marginHorizontal10.u-button1.u-button1lg[href="https://form.run/@u-bo" target="_blank"]
              span お問い合わせ
            a.u-marginHorizontal10.u-button2.u-button2lg[href="https://form.run/@u-bo" target="_blank"]
              span Webアプリへ
      .footer-inner
        .copyright
          | &copy; Ubo Co.,Ltd
          br
          | 〒101-0021
          |  東京都千代田区外神田5-1-13 4階
        nav.nav-footer
          ul.u-flex.u-fontSize16.u-xs-flexWrap.u-flexCenter.u-sm-justifyContentCenter
            li.u-marginHorizontal10
              a[href="#" target="_blank"]
                svg.icon-md role="icon"
                  use xlink:href="img/svg/svg.svg#facebook"
            li.u-marginHorizontal10
              a[href="#" target="_blank"]
                svg.icon-md role="icon"
                  use xlink:href="img/svg/svg.svg#twitter"
            li.u-marginHorizontal10
              a[href="#" target="_blank"]
                svg.icon-md role="icon"
                  use xlink:href="img/svg/svg.svg#instagram"
            li.u-marginHorizontal10
              a[href="#" target="_blank"]
                svg.icon-md role="icon"
                  use xlink:href="img/svg/svg.svg#pinterest"

    /.mobile-nav
      .mobile-nav-inner.u-flex.u-flexCenter.u-justifyContentCenter
        .u-textAlignCenter
          ul.u-fontSize18
            li.u-marginVertical15
              a.anchor-mobile.u-textContrast[href="#products"] what we do
            li.u-marginVertical15
              a.anchor-mobile.u-textContrast[href="#member"] who we are
            li.u-marginVertical15
              a.anchor-mobile.u-textContrast[href="#about"] about
            li.u-marginVertical15
              a.u-textContrast[href="https://form.run/@u-bo" target="_blank"] contact
            li.u-marginVertical15
              a.mobile-nav-close[href="#"]
                svg.icon-lg.contrast role="icon"
                  use xlink:href="img/svg/svg.svg#icon_times_circle"

    script src="js/all.js"
